/node_modules
/public/storage
/public/hot
/vendor
/.idea
/.vscode
Homestead.json
Homestead.yaml
.env
.DS_Store
/public
/public/*.*
.tinypng-sigs


!/wp-content/
/wp-content/*
!/wp-content/themes/
/wp-content/themes/*
!/wp-content/themes/mvh/

/npm-debug.log
/-$
wp-content/themes/mvh/node_modules/

!wp-content/themes/mvh/public/

.idea
bit
!.gitignore