$ws_icon-list = "arrow" "\e900",
                "envelope-contact" "\e901",
                "phone" "\e902",
                "place" "\e903",
                "trowel" "\e904",
                "envelope" "\e905",


