// Load config & var
@import "config/global.styl"
@import "config/easing.styl"
@import "config/icons.styl"

// Load mixins & functions
@import "tools/utils.styl"
@import "tools/sizing.styl"
@import "tools/icons.styl"
@import "tools/kaduk.styl"
@import "tools/gridz.styl"

// Load styles
@import "generic/reset_flexbox.styl"
@import "generic/reset_meyer.styl"

// Load Base
@import "base/base.styl"

// load settings
@import "settings/colors.styl"
@import "settings/fonts.styl"

// Load Components

//HOME
@import "components/home/home-who.styl"
@import "components/home/home-chantiers.styl"

//PAGES
@import "components/pages/builder.styl"
@import "components/pages/contact.styl"
@import "components/pages/works-page.styl"
@import "components/pages/works-single.styl"


//PARTIALS
@import "components/partials/navigation.styl"
@import "components/partials/titles.styl"
@import "components/partials/header.styl"
@import "components/partials/breadcrumb.styl"
@import "components/partials/footer.styl"
@import "components/partials/button.styl"
@import "components/partials/text.styl"
@import "components/partials/wysiwyg.styl"



@import "components/wpcf7.styl"
@import 'components/lightGallery.styl'

// Load Objects
@import "objects/wrap.styl"
