html
  overflow-x: hidden;

html *
  box-sizing border-box
  font-family: 'opensans'

a
  text-decoration none
  color inherit


form input
  appearance none
  border 0
  outline none

img
  max-width 100%
  height auto

.hidden
  hidden()

.hide
  display none

.padding-page
  padding s(50) s(20)
