@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?e9qbfi');
  src:  url('fonts/icomoon.eot?e9qbfi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?e9qbfi') format('truetype'),
    url('fonts/icomoon.woff?e9qbfi') format('woff'),
    url('fonts/icomoon.svg?e9qbfi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e902";
  color: #f0f1f2;
}
.icon-pointer:before {
  content: "\e903";
  color: #f0f1f2;
}
.icon-trowel:before {
  content: "\e904";
}
.icon-envelope2:before {
  content: "\e905";
  color: #f0f1f2;
}
.icon-right-8:before {
  content: "\e900";
  color: #fff;
}
.icon-envelope:before {
  content: "\e901";
  color: #fff;
}
