$cWhite = #ffffff
$cBlack = #000000

$cLightGrey = #F3F3F3
$cLightGreyTwo = #F0F1F2
$cGrey = #939598
$cRedLight = #AD1F1D
$cRedDark = #911211
$cDark = #05060A
$cDarkTwo = #303437
$cDarkThree = #231F20
$cDarkFour = #2D3033

