/* fonts style
* by Anthony Beaumecker
*/

$montserrat = Montserrat, Helvetica, Arial, sans-serif;
$opensans = Open Sans, Helvetica, Arial, sans-serif;


@font-face {
    font-family: 'lg';
    src: url("../fonts/lg/lg.eot?n1z373");
    src: url("../fonts/lg/lg.eot?#iefixn1z373") format("embedded-opentype"),
            url("../fonts/lg/lg.woff?n1z373") format("woff"),
            url("../fonts/lg/lg.ttf?n1z373") format("truetype"),
            url("../fonts/lg/lg.svg?n1z373#lg") format("svg");
    font-weight: normal;
    font-style: normal;
}
/************************************\
ICOMOON FONTS
\************************************/
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/icomoon.eot?e9qbfi');
    src:  url('../fonts/icomoon/icomoon.eot?e9qbfi#iefix') format('embedded-opentype'),
            url('../fonts/icomoon/icomoon.ttf?e9qbfi') format('truetype'),
            url('../fonts/icomoon/icomoon.woff?e9qbfi') format('woff'),
            url('../fonts/icomoon/icomoon.svg?e9qbfi#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**********MONTSERRAT FONTS**********/

/*****LIGHT*****/
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/montserrat-light-webfont.woff2') format('woff2'),
            url('../fonts/montserrat/montserrat-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/*****REGULAR*****/
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
            url('../fonts/montserrat/montserrat-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/*****SEMI BOLD*****/
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/montserrat-semibold-webfont.woff2') format('woff2'),
            url('../fonts/montserrat/montserrat-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

/*****BOLD*****/
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/montserrat-bold-webfont.woff2') format('woff2'),
            url('../fonts/montserrat/montserrat-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
/*****EXTRA BOLD*****/
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/montserrat-extrabold-webfont.woff2') format('woff2'),
            url('../fonts/montserrat/montserrat-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

/**********OPEN SANS FONTS**********/

/*****LIGHT*****/
@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans/opensans-light-webfont.woff2') format('woff2'),
            url('../fonts/opensans/opensans-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/*****REGULAR*****/
@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans/opensans-regular-webfont.woff2') format('woff2'),
            url('../fonts/opensans/opensans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/*****SEMI BOLD*****/
@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans/opensans-semibold-webfont.woff2') format('woff2'),
            url('../fonts/opensans/opensans-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

/*****BOLD*****/
@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans/opensans-bold-webfont.woff2') format('woff2'),
            url('../fonts/opensans/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/*****EXTRA BOLD*****/
@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans/opensans-extrabold-webfont.woff2') format('woff2'),
            url('../fonts/opensans/opensans-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
